@model IEnumerable<GigHub.Models.Gig>
@using System.Globalization
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gigs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upcoming Gigs</h2>
@using (Html.BeginForm("Search", "Gigs", FormMethod.Post, new { id = "searchForm" }))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBox("searchItem", Request.QueryString["query"], new { @class = "form-control", placeholder = "Search by artist, genre..." })
            <span class="input-group-addon">
                <a href="javascript:document.getElementById('searchForm').submit()"><i class="glyphicon glyphicon-search"></i></a>
            </span>
        </div>


    </div>
}
    <ul class="gigs">
        @if (Model.Count() == 0)
        {
            <li>There is no gigs.</li>
        }
        else
        {
            foreach (var gig in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @gig.DateTime.ToString("MMM", DateTimeFormatInfo.InvariantInfo)
                        </div>
                        <div class="day">
                            @gig.DateTime.ToString("d ")
                        </div>
                    </div>

                    <div class="details">
                        <span class="artist">
                            @gig.Artist.UserName
                            @if (Request.IsAuthenticated && gig.ArtistId != User.Identity.GetUserId())
                            {
                                <button data-following-id="@gig.ArtistId" class="btn btn-link btn-sm  btn-following js-toggle-following">Follow</button>
                            }
                        </span>

                        <span class="genre">
                            @gig.Genre.Name
                        </span>
                        @if (Request.IsAuthenticated && gig.ArtistId != User.Identity.GetUserId())
                        {
                            <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right btn-attendance js-toggle-attendance">Going?</button>
                        }
                    </div>
                </li>
            }
        }

    </ul>
@section scripts
{
    <script>
        $(document).ready(function () {

            $.getJSON("/api/Attendance/GetAttendingGigs", function (attendingGigs) {
                $.each(attendingGigs, function (key, attendingGig) {

                    $(".js-toggle-attendance").each(function () {

                        var gigId = $(this).attr("data-gig-id");

                        if (gigId == attendingGig.id) {
                            $(this).removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        }
                    });

                });
            });

            $(".js-toggle-attendance").click(function () {
                var button = $(this);
                $.post("/api/Attendance/attend", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        console.log("Something failed");
                    });
            });

            $(".js-toggle-following").click(function () {
                var button = $(this);
                $.post("/api/Following/follow", { followeeId: button.attr("data-following-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        console.log("Something failed");
                    });
            });

            $.getJSON("/api/Following/GetFollowedArtist", function (followedArtists) {
                $.each(followedArtists, function (key, followedArtist) {

                    $(".js-toggle-following").each(function () {

                        var followeeId = $(this).attr("data-following-id");

                        if (followeeId == followedArtist.followeeId) {
                            $(this).text("Following");
                        }
                    });

                });
            });
        });
    </script>
}
